version: '3.5'

services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: issueneter
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    restart: unless-stopped