name: Bump Version

on:
  workflow_run:
    workflows: ["Build and Test"]
    branches: ["master"]
    types:
      - completed

jobs:
  bump-version:
    name: "Bump Version on master"
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Create new tag based on commits
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: main
          custom_release_rules: |
            major:major
            minor:feat
            patch:fix,chore,docs,refactor,test,build,ci
          default_bump: patch
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/issueneter:${{ steps.bump.outputs.version }},${{ secrets.DOCKERHUB_USERNAME }}/issueneter:latest